.loader {
  position: fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  width: 100%;
  background-color: $lightGrey;
  animation: loaderDisappear 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 1;

  &__dot {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    animation: jumpDot 1s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 100px;
      justify-content: space-between;
    }

    &--1 {
      background-color:$bleumagenta;
    }
  
    &--2 {
      background-color: $pink;
      animation-delay: 0.25s;
    }
  
    &--3 {
      background-color: $lightCyan;
      animation-delay: 0.5s;
    }
  }
}

@keyframes loaderDisappear {
  100% {
    z-index: -1;
  }
} 

@keyframes jumpDot {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.fillHeartOnOver {
  cursor: pointer;
  &:hover {
    animation: fillHeart 0.6s ease-in-out;
    background:linear-gradient(to left, $bleumagenta, $gradientColor2, $gradientColor3, $gradientColor4, $gradientColor4);
    background:-webkit-linear-gradient(to left, $bleumagenta, $gradientColor2, $gradientColor3, $gradientColor4, $gradientColor4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}

@keyframes fillHeart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.starter {
  animation: fadein 2s ease-in-out;
}

.dish {
  animation: fadein 4s ease-in-out;
  }

.dessert {
  animation: fadein 6s ease-in-out;
}

@keyframes fadein {
  from {
    opacity:0;
    transform: translateY(10px);
      -webkit-transform: translateY(10px);
  }
  to {
    opacity:1;
    transform: translateY(0px);
      -webkit-transform: translateY(0px);
  }
}

.checkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightCyan;
  width: 70px;
  height: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: -50px;
  top: 0;
  opacity: 0;
  overflow: auto;
}

.checkContainer .fa-check-circle {
  color: white;
  font-size: 20px;
}

// Transition in ET out, mais on veut pas de la out
// .animateCheck {
//   transition: transform 0.8s ease-in-out;
//   &:hover {
//     transform: rotate(180deg);
//   }
// }


.itemPrice {
  animation: slideToTheRight 0.5s;
  margin-right: 15px;
}

.meals {
  // overflow: hidden;
  .checkContainer {
    animation: slideToTheRight 0.5s;
  }
  &:hover .checkContainer {
    animation: slideToTheLeft 0.5s;
    animation-fill-mode: forwards;
  }
  &:hover .check {
    animation: rotateOneTurn 0.5s;
    animation-fill-mode: forwards;
  }
  &:hover .itemPrice {
    animation: slideToTheLeft 0.5s;
    animation-fill-mode: forwards;
  }
  &:hover .articleTitleAndDescriptionContainer {
    animation: reduceWidth 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes reduceWidth {
  from {
    width: 100%;
  }
  to {
    width: calc( 100% - 100px );
  }
}

@keyframes slideToTheLeft {
  from {
    opacity: 1;
    transform: translateX(0px);
      -webkit-transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
      -webkit-transform: translateX(-50px);
  }
}

@keyframes slideToTheRight {
  from {
    opacity: 1;
    transform: translateX(-50px);
      -webkit-transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
      -webkit-transform: translateX(0px);
  }
}

@keyframes rotateOneTurn {
  from{
    transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
  }
}
