/* GLOBALS */
$lightGrey: #eaeaea;
$whitesmoke: #f6f6f6;
$bleumagenta: #9356dc;   
$lightCyan: #99E2D0; 
$white: #fff; 
$grey: #aaa; 
$pink: #FF79DA;
$placeboPurple: #f2eafc;
$gradientColor2: #b45cdc;
$gradientColor3: #cf65dc;
$gradientColor4: #e86fdb;
$gradientColor5: #ff79db;
$spectralGreen: #008766;
