/* HEADER */
.logo {
  text-align: center;
  padding: 20px 15px 10px 15px;
}


/* HEADER MENUS */
.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.return {
  position: absolute;
  left: 20px;
  
}

.return a:hover /* Apparence au survol des liens */ {
  text-decoration: underline;
  color: black;
} 

.return a {
  color: black;
  text-decoration: none;
}