.btnorder {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btnorder button {
  background-image: linear-gradient(to top, $bleumagenta, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  color: $white;
  box-shadow: 4px 4px 6px $grey;
  cursor: pointer;
  margin: 25px 0px 40px 0px;
  padding: 17px;
  width: 60%;
}

.btnorder button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}